<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.funlt.freehandwrite.dao.MemberDao">

    <select id="selectMemberList" resultType="com.funlt.freehandwrite.domain.Member">
        select * from member
    </select>

    <select id="selectMemberByEmail" resultType="com.funlt.freehandwrite.domain.Member">
        select * from member where email = #{email}
    </select>

    <insert id="addMember" parameterType="com.funlt.freehandwrite.domain.Member">
        insert into member(id,username,password,email,status) values(#{id},#{username},#{password},#{email},#{status})
    </insert>

    <update id="updateStatus" parameterType="com.funlt.freehandwrite.domain.Member">
        update member set status = #{status} where id = #{id}
    </update>
</mapper>